# Start of script

# Editor configuration file for Seanpm2001/Perl Harbor

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

[*.mk]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

[*.md]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

[*.yml *.yaml]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

[*.txt]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

[*.pl]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

[*.p6]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

[*.raku]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# File info

# File type: Editorconfig file (*.editorconfig)
# File version: 1 (2021 Thursday September 9th at 9:33 pm)
# Line count (including blank lines and compiler line): 86

# End of script
